<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet">
</head>
<body class=" ">
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="views/home.html">
            <!--logo-->
            <svg class="icon" fill="#000000" height="78px" version="1.1" viewBox="0 0 1024 1024"
                 width="78px" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                </g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M512 960c-92.8 0-160-200-160-448S419.2 64 512 64s160 200 160 448-67.2 448-160 448z m0-32c65.6 0 128-185.6 128-416S577.6 96 512 96s-128 185.6-128 416 62.4 416 128 416z"
                          fill="#050D42">
                    </path>
                    <path d="M124.8 736c-48-80 92.8-238.4 307.2-363.2S852.8 208 899.2 288 806.4 526.4 592 651.2 171.2 816 124.8 736z m27.2-16c33.6 57.6 225.6 17.6 424-97.6S905.6 361.6 872 304 646.4 286.4 448 401.6 118.4 662.4 152 720z"
                          fill="#050D42"></path>
                    <path d="M899.2 736c-46.4 80-254.4 38.4-467.2-84.8S76.8 368 124.8 288s254.4-38.4 467.2 84.8S947.2 656 899.2 736z m-27.2-16c33.6-57.6-97.6-203.2-296-318.4S184 246.4 152 304 249.6 507.2 448 622.4s392 155.2 424 97.6z"
                          fill="#050D42"></path>
                    <path d="M512 592c-44.8 0-80-35.2-80-80s35.2-80 80-80 80 35.2 80 80-35.2 80-80 80zM272 312c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48zM416 880c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48z m448-432c-27.2 0-48-20.8-48-48s20.8-48 48-48 48 20.8 48 48-20.8 48-48 48z"
                          fill="#e1d275"></path>
                </g>
            </svg>
            Tsushima LLC
        </a>

        <!-- Apply Now Button -->
        <div class="p-2 flex-shrink-1 bd-highlight">
            <a class="btn btn-primary" href="views/personal.html">Apply Now</a>
        </div>
    </div>

</nav>

<!-- Main Content -->
<div class="container">
    <br>
    <h3>Front-end Development internship</h3>
    <br>

</div>
<br>

<!-- Two-Column Layout -->
<div class="container">
    <div class="row ">
        <div class=" col fluid-container">
            <div class="row no-gutters">


                <div class="col-md">
                    <!-- About the Internship Section -->
                    <h2 >About the internship</h2>
                    <hr>
                    <p>This position is ideal for individuals who are passionate about both front-end and back-end
                        development and want to gain valuable experience in a supportive and collaborative
                        environment.</p>
                    <br>
                    <!-- About Us Section -->
                    <h2 >About Us</h2>
                    <hr>

                    <p>Patterned Learning is a platform that aims to help developers code faster and more efficiently.
                        It offers features such as collaborative coding, real-time multiplayer editing, and the ability
                        to build, test, and deploy directly from the browser. The platform also provides tightly
                        integrated
                        code generation, editing, and output capabilities.</p>

                    <br>
                    <!-- Responsibilities Section -->
                    <h2 > Responsibilities:</h2>
                    <hr>

                    <ul>
                        <!-- List of responsibilities -->
                        <li>Collaborate with the development team to design, develop, and maintain web applications</li>
                        <li>Implement responsive and user-friendly front-end designs using HTML, CSS, and JavaScript
                        </li>
                        <li>Develop server-side code and APIs using programming languages such as Python, Ruby, or
                            Node.js
                        </li>
                        <li>Design and maintain databases and perform database queries for data retrieval and
                            manipulation
                        </li>
                        <li>Write clean, modular, and efficient code for both front-end and back-end components</li>
                        <li>Participate in code reviews and provide constructive feedback
                        </li>
                        <li>Troubleshoot and debug issues to ensure optimal performance and user experience</li>
                        <li>Stay up-to-date with emerging web technologies and industry trends</li>
                        <li>Contribute to improving the overall web development process
                        </li>
                    </ul>

                    <!-- Images content-->
                </div>
                <div class="col-md">
                    <div class="menu-image  d-flex align-items-start">
                        <img alt="menu image" class="img-fluid" src="images/home2.png">

                    </div>
                    <br>
                    <img alt="menu image" class="img-fluid" src="images/home.jpeg">
                </div>
            </div>
            <!-- Images content-->

                <!-- Apply Now Button -->
                <div class="p-2 flex-shrink-1 bd-highlight">
                    <a class="btn btn-primary" href="views/personal.html">Apply Now</a>
                </div>
        </div>
    </div>
</div>

</body>
</html>